div{
	color: ;
}
#nav-list::marker{
}
#nav-list1::marker{
	
}
.backround-trang{
	width: 85%;
	background-color: #75efec9e;
}
.noidung h1{
	text-align: center;
	font-size: 60px;
}
.noidung p {
	font-size: 20px;
	
}
.ten-trang{
	font-size: 20px;

}
#logo img{
	width: 300px;
	cursor: pointer;
}
ul li{
	font-size: 20px;
}
#anh{
	width: 74vw;
	padding-left: 4vw;
}
h4{
	font-size: 30;
	text-align: center;
}
pre{
	font-size: 20;
	text-align: center;
}
.thiennhien14{
	width: 70vw;
}
.abc{
	text-align: center;
}