#nav{
	text-align: center;
	font-size: 25px;
}
@media(max-width : 740px ){
	#nav{
		font-size: 10px;
	}
}

.backround-trang{
	width: 85%;
	background-color: #75efec9e;
}
.noidung h1{
	text-align: center;
	font-size: 60px;
}
.noidung p {
	font-size: 20px;
	
}
.ten-trang{
	font-size: 20px;

}
#logo img{
	width: 250px;
	cursor: pointer;
}
ul li{
	font-size: 20px;
}
#anh{
	width: 74vw;
	padding-left: 0.1vw;
}
ul li{
	font-size: 0,5vw;
	text-align: left;
}
.thiennhien8{
	width: 70vw;
}
.thiennhien9{
	width: 70vw;
}
.thiennhien10{
	width: 70vw;
}